* {
 margin:0;
 padding: 0;
 /*outline: solid 1px purple;*/
}
body {
 position: relative;
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column; 
 align-items: flex-end;
 background-color: rgb(241, 241, 241);
 overflow: hidden;
}